.layout {
    margin: 3rem auto;
    max-width: 600px;
    max-width: calc(800px - (30px * 2));
}

.header {
    border-top: 5px solid #424242;
    border-bottom: 1px solid #e8e8e8;
    min-height: 55.95px;
    position: relative;
}

.wrapper{
    max-width: calc(800px - (30px * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: 30px;
    padding-left: 30px;
    display: block;
}

.site_title{
    font-size: 26px;
    font-weight: 300;
    line-height: 54px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
    text-decoration: none;
    color: #424242;
}

.blog{
    font-size: 18px;
    font-weight: 300;
    line-height: 54px;
    letter-spacing: -1px;
    margin: 10px;
    margin-bottom: 0;
    float: left;
    text-decoration: none;
    color: #424242;
}

.site_nav{
    display: block;
    float: right;
    line-height: 54px;
}

.other_title{
    font-weight: 300;
    line-height: 54px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
    text-decoration: none;
    color: #424242;
}

.footer{
    border-top: 1px solid #e8e8e8;
    padding: 30px 0;    
    display: block;
}

.footer_header{
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: 400;
}

.footer_wrapper{
    max-width: calc(800px - (10px * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: 30px;
    padding-left: 30px;
    display: block;
}

.footer_col_wrapper{
    font-size: 15px;
    color: #828282;
    margin-left: -15px;
    display: block;
}

.footer_col1{
    width: calc(35% - (30px / 2));
    float: left;
    margin-bottom: 15px;
    padding-left: 15px;
}

.footer_col2{
    width: calc(30% - (30px / 2));
    float: left;
    margin-bottom: 15px;
    padding-left: 15px;
}

.footer_col3{
    width: calc(35% - (30px / 2));
    float: left;
    margin-bottom: 15px;
    padding-left: 15px;
}

@media screen and (max-width: 600px) {
    .footer_col_mobile {
        float:none;
        width: -webkit-calc(100% - (30px / 2));
        width: calc(100% - (30px / 2))
    }
}

.foot_list{
    list-style: none;
    margin-left: 0;
}

.foot_email{
    color: #2a7ae2;
    text-decoration: none;
}

.foot_username{
    color: #1756a9;
    text-decoration: none;
}

.a{
    text-decoration: none;
}

.svg_icon{
    width: 16px;
    height: 16px;
    display: inline-block;
    fill: #828282;
    padding-right: 5px;
    vertical-align: text-top;
}

.li{
    padding-top: 5px;
}

html *
{
   font-family: Vazir; 
}
